/* Style for DefaultLayout.tsx */

@import "../../styles/mixins";

#root {
  .app {
    .app-body {
      > .main {
        display: flex;
        flex-direction: column;

        > div:first-child {
          > nav {
            > .breadcrumb {
              margin-bottom: 0;
            }
          }
        }

        > .app-content {
          flex-grow: 1;
          padding: 1rem;

          @mixin app-content-card() {
            min-height: calc(100vh - 55px - 2rem);
          }

          > .page {
            > .ant-spin-nested-loading {
              height: 100%;

              > .ant-spin-container {
                height: 100%;

                > .ant-card {
                  @include app-content-card();
                }
              }
            }

            > .ant-card {
              @include app-content-card();
            }
          }
        }
      }

      .ant-layout-sider {
        background: #ffffff;
      }
    }
  }
}
