@import "variables";

@mixin flex($direction: row, $justify-contents: flex-start, $align-items: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-contents;
  align-items: $align-items;
}

@mixin inline-flex($direction: row, $justify-contents: flex-start, $align-items: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-contents;
  align-items: $align-items;
}

@mixin font($size, $line-height) {
  font-size: $size;
  line-height: $line-height;
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    .#{$theme} {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@mixin hidden() {
  display: none;
  visibility: hidden;
}

@mixin shown() {
  display: initial;
  visibility: visible;
}
