.ant-tree-node-content-wrapper {
  width: 95%;
}
.title-tree-node {
  .form-control {
    background-color: transparent;
    border: none;
    // margin-top: -6px;
    line-height: 24px;
  }
}
.ant-select {
  width: 100%;
}
.btn-cancel {
  border: 1px solid #f0f0f0 !important;
}
