.btn-action {
    .btn-sm {
        padding: 2px;
    }
}
.display-username {
    color: #1592f3;
    text-decoration: underline;
}
.display-username:hover {
    color: rgba($color: #1592f3, $alpha: 0.6);
}
.display-username:focus {
    color: #1592f3;
}
// .btn-export-template{
//     color
// }
.btn-export-template:hover {
    background-color: #ee534d;
    color: #ffffff !important;
}
.image {
    border-radius: 50px;
    width: 40px;
    height: 40px;
}
