.title {
    font-weight: 500;
    padding: 24px;
    color: #ee534d;
    font-size: 14px;
}

.page-detail-uomg {
    .ant-card-bordered {
        .ant-card-head {
            border-bottom: unset !important;
        }
    }
    .info-title {
        color: #ee534d;
        font-size: 13px;
        font-weight: 500;
    }

    form.ant-form.ant-form-horizontal {
        border-top: 1px solid #e8e8e8;
        margin-left: -10px;
        margin-right: -10px;
        padding-top: 12px;
    }
    .ant-table-wrapper {
        margin-top: 2rem;
    }
}
